@import 'tailwindcss';
@plugin "daisyui";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';
@source '../**/*.vue';

@font-face {
    font-family: 'Cooper Hewitt';
    src: url('/fonts/hug/cooper-hewitt/CooperHewitt-Book.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cooper Hewitt';
    src: url('/fonts/hug/cooper-hewitt/CooperHewitt-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cooper Hewitt';
    src: url('/fonts/hug/cooper-hewitt/CooperHewitt-Semibold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cooper Hewitt';
    src: url('/fonts/hug/cooper-hewitt/CooperHewitt-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@theme {
    --font-cooper: 'Cooper Hewitt', ui-sans-serif, system-ui, sans-serif;
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

.cooper-baseline {
    display: inline-block;
}

.cooper-text-baseline {
}

.cooper-input-baseline {
}
